html{
    box-sizing: border-box;
    font-size: 100%
}

*,
*::before,*::after {
    box-sizing: inherit;
}

:root{
    --bg-body: hwb(0 8% 92%);
    --bg-contact: hwb(0 14% 86%);
    --accent: hsl(153, 71%, 59%);
    --text2: #D9D9D9;
    --text1: hsl(0, 0%, 100%);
    --invalid: hsl(7, 100%, 68%);
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: var(--bg-body);
    color: var(--text1);
    color: #e3dede;
    font-size: 18px;
    line-height: 1.56;
}

background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
}
