html{
    box-sizing: border-box;
    font-size: 100%
}

*,
*::before,*::after {
    box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(8, 8, 8);
    color: #e3dede;
}

background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
}
